<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
</div>
<p >1. Add A button which says 'Display Details'</p>
<button class="btn btn-primary"  (click)="togglePassword()">Display details</button>
<button class="btn btn-primary"  (click)="updatePoition3to7()">Change 3 by 7</button>
<!-- <button (click)="displayPassword = !displayPassword">Display details</button> -->
<hr>
<p >2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')
   3. Toggle the displaying of that paragraph with the button created in the first step
</p>

<p *ngIf="displayPassword" >Secret Password = tuna</p>

<hr>
<!--
<p *ngFor="let time of listTimebuttonClicked" [ngClass]="setBlue: {(counter > 4) && (counter < 7)}" [ngStyle]="{background-color: getColor()  }" >{{time}}</p>
-->



<div style="min-width:300 px; float:left;margin-right:300px" >
  <p *ngFor="let number of listNumberButtonClicked" 
    [ngStyle]="{backgroundColor: number > 4 ? 'blue':'transparent'}"
    [ngClass]="{'white': number > 4}">
    {{number}}
  </p>
</div>
<div style="min-width:300 px; float:left">
  <p *ngFor="let time of listTimebuttonClicked" 
    [ngStyle]="{backgroundColor: counter > 4 ? 'blue':'transparent'}"
    [ngClass]="{'white': number > 4}">
    {{counter}}, {{time}}
  </p>
</div>